<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Spring</title>
</head>
<body>
	<a >Crear Persona</a>
	<div>
		<table border="1">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Telefono</th>
					<th>Email</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr >
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td>
						<a ></a>
						<a ></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		La lista esta vacia
	</div>
	
</body>
</html>