<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/webjars/font-awasome/css/all.css}"/>
<link th:href="@{/webjars/jquery/jquery.min.js}"/>
<link th:href="@{/webjars/popper.js/umd/popper.min.js}"/>
<link th:href="@{/webjars/bootstrap/js/bootstrap.min.js}"/>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<title>Insert title here</title>
</head>
<body>
  <header th:replace="barramenu :: header"></header>
	
		<a id="click" th:href="@{/datos/arduino}" th:text="monitorear" hidden="true"></a>
		<div th:if="${datos != null and !datos.empty}">
			<input th:text="${datos[0]}"/>
			<input th:text="${datos[1]}"/>
		</div>
	<div class="container">
	</div>
</body>
<script>
	var button=document.getElementById('click')
	setInterval(function(){
		button.click();
	},9600)
	//300000
</script>
<script>
	var ctx= document.getElementById("myChartWeekTemp").getContext("2d");
	var myChart= new Chart(ctx,{
		type:"bar",
		data:{
			labels:['Temperatura'],
			datasets:[{
				label:'º',
				data:[16]
			}]
		},
		options:{
			scales:{
				yAxes:[{
					ticks:{
						beginAtZero:true
					}
				}]
			}
		}
	})
</script>
<script>
	var ctx= document.getElementById("myChartWeekHum").getContext("2d");
	var myChart= new Chart(ctx,{
		type:"bar",
		data:{
			labels:['Humedad'],
			datasets:[{
				label:'%',
				data:[80]
			}]
		},
		options:{
			scales:{
				yAxes:[{
					ticks:{
						beginAtZero:true
					}
				}]
			}
		}
	})
</script>
</html>