<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/webjars/font-awasome/css/all.css}"/>
<link th:href="@{/webjars/jquery/jquery.min.js}"/>
<link th:href="@{/webjars/popper.js/umd/popper.min.js}"/>
<link th:href="@{/webjars/bootstrap/js/bootstrap.min.js}"/>
<title>Insert title here</title>
</head>
<body>
	<header th:replace="barramenu :: header"></header>
	<div th:if="${temperaturas != null and !temperaturas.empty}">
		<table border="1">
			<thead>
				<tr>
					<th>Temperatura</th>
					<th>Fecha</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="temperatura : ${temperaturas}">
					<td th:text="${temperatura.temperatura}"></td>
					<td th:text="${temperatura.fecha}"></td>
					<!-- td ></td>
					<td ></td-->
					<td>
						<a ></a>
						<a ></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:if="${temperaturas == null or temperaturas.empty}">
		La lista esta vacia
	</div>
</body>
</html>